/*
*************************************
        | COLORS
*************************************
*/
:root {
    --blue-navy: #05205D;
    --blue-light: #3155A7;
    --brown-leather: #AB987A;
    --orange-coral: #FF833D;
    --white-egg: #F5F5F5;
  }
/*
*************************************
| HEADER
*************************************
*/
.header-area .main-menu,
.header-area .main-menu, .dropdown-menu {
background: var(--orange-coral);
box-shadow: 0 3px 16 0 rgba(0, 0, 0, .1);
}
.header-area .main-menu .navbar {
height: 70px;
}
.header-area .main-menu .navbar .nav-link {
font-size: 14px;
color: var(--white-egg);
padding: 8px;
}
.header-area .main-menu .navbar .nav-link:hover {
font-weight: 600;
}
/*
*************************************
| BODY
*************************************
*/

.main-info {
    position: relative;
    z-index: 1;
    padding-bottom: 42px;
    margin-bottom: 58px;
  }
  .main-info .container {
    border-radius: 12px;
    position: relative;
    bottom: -100px;
    background: #fff;
    padding-top: 28px;
    padding-bottom: 28px;
    box-shadow: 0 20px 80px 0 rgba(153, 153, 153, .3);
  }
  .main-info .container .img-col .img-container > img {
    width: 90%;
    height: 80%;
  }
  .main-info .container .txt-col .text-container {
    margin: 20px auto 0 auto;
    width: 90%;
  }
  .main-info .container .txt-col .text-container h4 {
    font-size: 16px;
  }
  .main-info .container .txt-col .text-container p {
    font-size: 16px;
    color: var(--brown-leather);
    margin-bottom: 20px;
  }
  .main-info .container .txt-col .text-container ul.basic-info {
    padding-left: 0;
  }
  .main-info .container .txt-col .text-container ul.basic-info > li {
    margin-bottom: 8px;
  }
  .main-info .container .txt-col .text-container ul.basic-info > li > i{
    margin-right: 4px;
    color: var(--blue-navy);
  }
  .main-info .container .txt-col .text-container ul.social-nw {
    padding-left: 0;
  }
  .main-info .container .txt-col .text-container ul.social-nw > li {
    margin-right: 20px;
  }
  .main-info .container .txt-col .text-container ul.social-nw > li i{
    font-size: 40px;
    color: var(--blue-navy);
  }

/*
*************************************
| SKILL SECTION
*************************************
*/

.skill-item{
  margin-bottom:24px;
}
.skill-item .text{
  margin-bottom: 8px;
}
.skill-item .progress .progress-bar{
  /*
  height:25px;
  border-radius:5px;
  vertical-align: middle;
  align-self: center;
  background-image: linear-gradient(0deg, var(--blue-light) 0%, var(--brown-leather))
  */
}

/*
*************************************
| PORTFOLIO SECTION
*************************************
*/

.card-container .card{
  max-width: 360px;
  margin-top: 16px;
}
.card-container .card i{
  font-size: 80px;
  color: var(--blue-navy);
}
.card-container .card h5{
  margin-top: 12px;
  margin-bottom: 8px;
  opacity: 0.8;
}

/*
*************************************
| COMPLEMENTOS
*************************************
*/

.btn-orange{
  background: var(--orange-coral); 
  color:beige
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* floating-labels.css
-------------------------------------------------- */
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

/*
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
*/
.div-registro{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 40px;
  
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}


.header-multi{
  color: rgba(0, 0, 0, 0.87); background-color:#343A40; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; box-sizing: border-box; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; border-radius: 0px; position: relative; z-index: 1100; width: 100%; display: flex; padding-left: 24px; padding-right: 24px;
}
.btn-multi{
  border: 10px; box-sizing: border-box; display: inline-block; font-family: Roboto, sans-serif; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer; text-decoration: none; margin: 8px 8px 0px -16px; padding: 12px; outline: none; font-size: 0px; font-weight: inherit; position: relative; overflow: visible; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; width: 48px; height: 48px; background: none;
}
.svg-multi{
  display: inline-block; color: rgb(255, 255, 255); fill: rgb(255, 255, 255); height: 24px; width: 24px; user-select: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.h1-multi{
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin: 0px; padding-top: 0px; letter-spacing: 0px; font-size: 24px; font-weight: 400; color: rgb(255, 255, 255); height: 64px; line-height: 64px; flex: 1 1 0%;
}

.container-NotFound { margin: 50px auto 40px auto; width: 600px; text-align: center; }
.container-NotFound > h1 { width: 800px; position:relative; left: -100px; letter-spacing: -1px; line-height: 60px; font-size: 60px; font-weight: 100; margin: 0px 0 50px 0; text-shadow: 0 1px 0 #fff; }
.container-NotFound > p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }





