
 @media (max-width: 575.98px) {
    .header-area .main-menu .navbar {
      height: auto;
    }
    .card-container .card{
      max-width: 240px;
    }
  }
/*
*************************************
| SMALL (lanscape phones, 576px and up)
*************************************
*/  
@media (min-width: 576px) {
    .header-area .main-menu .navbar .nav-link {
      padding: .5rem 1rem;
    }
    .card-container .card{
      max-width: 240px;
    }
  }
/*
*************************************
| MEDIUM (tablets, 768px and up)
*************************************
*/   

 @media (min-width: 768px) {
    .header-area .main-menu .navbar .nav-link {
      font-size: 16px;
    }
    .main-info {
      padding-bottom: 42px;
      margin-bottom: 78px;
    }
    .main-info .container {
      bottom: -120px;
    }
    .card-container .card{
      max-width: 360px;
    }
  }
/*
*************************************
| LARGE (desktop, 992px and up)
*************************************
*/  
  @media (min-width: 992px) {
    .card-container .card{
      max-width:  240px;
    }
  }

  /*
*************************************
| EXTRA LARGE (large desktop, 1200px and up)
*************************************
*/  
@media (min-width: 1200px) {
  .card-container .card{
    max-width:  360px;
  }
}